version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:3.0.3
    working_directory: ~/project
    steps:
      - checkout
      - run: gem update --system
      - run: gem install bundler --version=1.17.2
      - run: bundle install
      - run: bundle exec jekyll build
      - run: echo "Build finished!"
